// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  h1 {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 400;
  }
}



body {
  h3 {
    font-size: 16px;
    font-weight: 200;
    color: darkgray;
    font-family: sans-serif;
  }
}

body {
  input[type=text] {
    width: 400px;
    height: 40px;
    border-radius: 4px 0 0 4px;
  }
}

body {
  input[type=submit] {
    border-radius: 0 4px 4px 0;
    background-color: #337AB7;
    width: 70px;
  }
}

form {
  display: flex;
}

